<% 
  console.log("Take the following array and paste it into the keyList variable in generator/app.js")
  console.log(COPY.data.map(d => {
    return {"key":d.key};
  }))

  COPY.data.forEach(function(portrait, i) { %>
<div class="portrait-block <%= portrait.layout || "" %>">
  <% if (i == 0 && COPY.data.length > 1) { %>
    <hr>
  <% } %>
  <div class="row <% if (portrait.layout == 'wide' || portrait.layout == 'center') { %>full-width<% } else { %>side-by-side<% } %>">
    <div class="image-container">
      <img src="./synced/<%= portrait.image %>" alt="">
      <% if (portrait.photo_credit) { %>
      <p class="credit"><%= t.smarty(portrait.photo_credit) %></p>
      <% } %>
    </div>
    <div class="caption">
      <blockquote><%= t.smarty(portrait.quote) %></blockquote>
      <cite>
        <div class="name">
          <%= t.smarty(portrait.name) %><% if (portrait.age) { %><span class="age">, <%= portrait.age %></span><% } %><% if (portrait.description) { %><span class="description">, <%= t.smarty(portrait.description) %></span><% } %>
        </div>

        <% if (portrait.caption) { %>
          <p class="photo-caption"><%= t.smarty(portrait.caption) %></p>
        <% } %>
      </cite>
    </div>
  </div>
  <% if (COPY.data.length > 1) { %>
    <hr>
  <% } %>
</div>
<% }) %>
