<% if (COPY.labels.headline) { %>
<h1><%= t.smarty(COPY.labels.headline) %></h1>
<% } %>

<% if (COPY.labels.subhed) { %>
<h2><%= t.smarty(COPY.labels.subhed) %></h2>
<% } %>

<form class="autocomplete" autocomplete="off" onSubmit="return false;">
  <input id="userSearch" type="search" name="userInput" placeholder="Look up a district" value="Another person">
  <input type="submit">
</form>

<div class="table-container">
  <div class="holder"></div>
    <table id="table-graphic" cellspacing="0">
      <!-- <thead role="rowgroup">
        <tr role="row">
          <% COPY.columns.forEach(function(row) { %>
            <% if(row.sort == "yes") { %>
              <th role="columnheader" class="columnheader sort-header <%= row.format %>" width="<%= row.width %>">
                <div>
                  <div class="header"><%= row.label %></div>
                  <div class="sorter"><div class="arrow-up">&#9650;</div><div class="arrow-down">&#9660;</div></div>
                </div>
              </th>
            <% } else {%>
              <th role="columnheader" class="columnheader <%= row.format %>" width="<%= row.width %>">
                <div>
                  <div class="header"><%= row.label %></div>
                </div>
              </th>
            <% }%>
          <% }) %>
        </tr>
      </thead>
      <tbody>
      <% COPY.data.forEach(function(row) {
        var index = 0; %>
        <tr class="row <%= t.classify(row[COPY.labels.search_field]) %>" role="row">
          <% for (cell in row) { %>
            <td role="cell" width="<%= COPY.columns[index].width %>" class="<%= COPY.columns[index].format %>" data-title="<%= cell %>">
            <% if (COPY.columns[index].format == "number") { %>
              <%= t.comma(row[cell]) %>
            <% } else if (COPY.columns[index].format == "dollars") { %>
              <%= "$" + t.comma(row[cell]) %>
            <% } else if (COPY.columns[index].format == "percent") { %>
              <%= Math.round(row[cell] * 100) + "%" %>
            <% } else  { %>
              <%= row[cell] %>
            <% } %>
            </td>
          <% index ++;} %>
        </tr>
      <% }) %>
      </tbody> -->
    </table>
</div>

<% if (COPY.labels.footnote) { %>
<div class="footnotes">
  <h4>Notes</h4>
  <p><%= COPY.labels.footnote %></p>
</div>
<% } %>

<div class="footer">
  <% if (COPY.labels.source) { %>
  <p>Source: <%= COPY.labels.source %></p>
  <% } %>

  <% if (COPY.labels.credit) { %>
  <p>Credit: <%= COPY.labels.credit %></p>
  <% } %>
</div>

<script type="text/javascript">
  var DATA_HEADERS = <%= JSON.stringify(COPY.columns) %>;
  var DATA = <%= JSON.stringify(COPY.data) %>;
  var SEARCH_FIELD = <%= JSON.stringify(COPY.labels.search_field) %>;
  <% if (COPY.labels.default) { %>
    var DEFAULT = <%= JSON.stringify(COPY.labels.default) %>;
  <% } %>
</script>
