@import "./lib/base";

.district.highlight {
    fill: #FFDF00 !important;
}

#tooltip {
    padding: 5px;
    border: 1px solid #999;
    max-width: 270px;
    position: absolute;
    z-index: 10;
    font-size: 12px;

    .main {
        font-weight: bold;
    }
    .secondary {
        font-style: normal;
    }
}
  