<div class="beforeafter">
  <% if (COPY.data[0].headline) { %>
  <h1><%= t.smarty(COPY.data[0].headline) %></h1>
  <% } %>

  <% if (COPY.data[0].subhed) { %>
  <h2><%= t.smarty(COPY.data[0].subhed) %></h2>
  <% } %>

  <div id="graphic" class="graphic target">
      <div class="top-wrapper">
          <div id="image-toggle" class="image-toggle">
              <button id="toggle-1" class="toggle-btn active">
                  <span class="btn-hed"><%= COPY.data[0].label_hed1 %></span>
                  <span class="btn-dek"><%= COPY.data[0].label_dek1 %></span>
              </button>
              <button id="toggle-2" class="toggle-btn">
                  <span class="btn-hed"><%= COPY.data[0].label_hed2 %></span>
                  <span class="btn-dek"><%= COPY.data[0].label_dek2 %></span>
              </button>
          </div>
      </div>
      <div class="img-wrapper">
          <%= await t.include(`../${COPY.data[0].aiFile}`) %>
      </div>
    </div>
    <% if (COPY.data[0].footnote) { %>
    <div class="footnotes">
      <h4>Notes</h4>
      <p><%= COPY.data[0].footnote %></p>
    </div>
    <% } %>
    <div class="footer">
      <% if (COPY.data[0].source) { %><p>Source: <%= COPY.data[0].source %></p><% } %>
      <% if (COPY.data[0].credit) { %><p>Credit: <%= COPY.data[0].credit %></p><% } %>
    </div>
  
</div>