<% if (COPY.labels.headline) { %>
<h1><%= t.smarty(COPY.labels.headline) %></h1>
<% } %>

<% if (COPY.labels.subhed) { %>
<h2><%= t.smarty(COPY.labels.subhed) %></h2>
<% } %>

<% var races = [...new Set(COPY.candidates.map(candidate => candidate.race))] %>

<% races.forEach(function(race) { %>
  <div class="button select-race" id="<%= t.classify(race) %>-select" data-message="<%= t.classify(race) %>">
    <%= race %>
  </div>
<% }) %>

<% COPY.questions.forEach(function(q) { %>
  <h1 class="question"><%= q.question %></h1>
  <% COPY.candidates.forEach(function(c) { %>
    <div class="answer-group <%= t.classify(c.race) %> <%= t.classify(c.name) %>">
      <div class="image-container">
        <img src="./photos/<%= c.image %>" alt="Photo of <%= c.name %>">
      </div>
      <h3 class="candidate-name"><%= c.name %></h3>
      <div class="candidate-answer"><%= q[c.name] %></div>
    </div>
  <% }) %>
<% }) %>

<script src="./lib/pym.js"></script>

<script type="text/javascript">
  window.CANDIDATES = <%= JSON.stringify(COPY.candidates) %>;
</script>
