<%= await t.include("lib/_head.html") %>

<% if (COPY.labels.headline) { %>
<h1><%= t.smarty(COPY.labels.headline) %></h1>
<% } %>

<% if (COPY.labels.subhed) { %>
<h2><%= t.smarty(COPY.labels.subhed) %></h2>
<% } %>

<% 
    var values = COPY.data.map(v => v.value);
    var groupNames = new Set(COPY.data.map(v => v.group));
    var groups = Object.fromEntries([...groupNames].map(n => [n, COPY.data.filter(v => v.group == n)]));
    var max = Math.max(...values);
%> 

<div id="grouped-bar-chart" class="graphic" role="img"
  <% if (COPY.labels.screenreader) { %>
  aria-label="<%- COPY.labels.screenreader %>"
  <% } %>
>
  <% for (var g of groupNames) { %>
  <div class="bar-group">
    <h3><%= g %></h3>
    <div class="bars">
    <% groups[g].forEach((d, i) => { %>
    <div class="row">
      <div class="label"><%= d.label %></div>
      <div class="bar-container">
        <div class="bar" style="width: <%= d.value / max * 100 %>%" data-series="<%= d.label %>">
          <span class="value">
            <%= d.value.toFixed(0) + (i ? "" : "") %>
          </span>
        </div>
      </div>
    </div>
    <% }) %>
    </div>
  </div>
  <% } %>
</div>

<div class="footer">
  <% if (COPY.labels.footnote) { %><p>Source: <%= COPY.labels.footnote %></p><% } %>
  <% if (COPY.labels.source) { %><p>Source: <%= COPY.labels.source %></p><% } %>
  <% if (COPY.labels.credit) { %><p>Credit: <%= COPY.labels.credit %></p><% } %>
</div>

<script type="text/javascript">
  var DATA = <%= JSON.stringify(COPY.data) %>;
</script>

<script src="./graphic.js"></script>

<%= await t.include("lib/_foot.html") %>
