@import "./lib/base";

.bars line {
  fill: none;
  stroke-width: 3px;
  stroke: var(--dot-bars-color);
}

.dots circle {
  stroke-width: 1px;
  stroke: #fff;
  fill: #D8472B;
}

.value text {
  font-size: 11px;
  fill: var(--dot-value-color);
}

.shadow text {
  font-size: 11px;
  fill: #fff;
  stroke: var(--dot-shadow-color);
  stroke-width: 5px;
}
