@import "./lib/base";

.bars line {
    fill: none;
    stroke-width: 3px;
    stroke: @red1;
}

.dots circle {
    stroke-width: 1px;
}

.start-dots circle {
    fill: #fff;
    stroke: @red1;
}

.end-dots circle {
    fill: @red1;
    stroke: @red1;
}

.value text {
    font-size: 0.8em;
    fill: @gray2;
}

.shadow text {
    text-anchor: end;
    font-size: 0.8em;
    fill: #fff;
    stroke: #fff;
    stroke-width: 4px;
}

.text-label {
    text-anchor: end;
    font-size: 0.8em;
    fill: @gray2;
}
