@import "./lib/base";

// Base table styles
.table-container {
  border-top: 2px solid @teal1;
  border-bottom: 2px solid @teal1;

  tbody {
    display: block;
    width: 100%;
  }

  .scroll-yes {
    tbody {
      max-height: 390px;
      overflow-y: auto;
    }
  }

  tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
  color: @gray1;
  font-size: 14px;

  thead td {
    font-weight: bold;
  }

  tr.shadedrow {
    background-color: @gray4;
    color: @gray1;
    font-weight: bold;
  }

  thead {
    .sans-serif();
    font-size: 1.3em;
    line-height: 1.2;
    text-align: left;
    vertical-align: bottom;
  }

  thead tr th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: @teal1;
    color: white;
  }


  td { vertical-align: top; }
}

// Tablesorter styles
thead {
  cursor: default;
  .arrow-up,
  .arrow-down {
    cursor: pointer;
  }

  .header,
  .sorter,
  .sorter * {
    display: inline-block;
  }

  .sorter {
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    margin-left: 4px;
    color: white;
    font-size: 12px;
    user-select: none; /* supported by Chrome and Opera */
    .arrow-down {
      margin-left: -4px;
    }
  }

  .sort-header {
    &[aria-sort="ascending"] {
      .arrow-up {
        color: @peach2;
      }
    }
    &[aria-sort="descending"] {
      .arrow-down {
        color: @peach2;
      }
    }
  }

}

/*
* larger-than-small-screen styles
* ~ defining some desktop-only styles here to avoid
* ~ writing extra mobile styles to undo them.
*/
@media @screen-mobile-above {

  .mobile {
    display: none;
  }

  table {
    th, td {
      padding: 8px 10px;
      &.number,
      &.percent,
      &.dollars {
        text-align: right;
      }
    }

    thead {
      background-color: @teal1 !important;
    }

    tbody tr:hover{
      background-color: @gray4;
    }

    tr {
      padding: 6px 0;
      border-bottom: 1px solid @gray3;

      &:last-child { border-bottom: none; }
    }
  }

  table.scroll-yes {
    thead {
      tr {
        width: 98% !important;
      }
    }
  }
}

/*
* small-screen styles
*/
@media @screen-mobile {
  tbody {
    display: block;
    width: 100%;
  }

  table {
    thead {
      th {
        display: none;
      }
      tr {
        // display: flex;
      }
      .sort-header {
        display: inline-block;
        width: 50%;
        border: 1px solid #fff;
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }

    .mobile-table-header {
      .sans-serif();
      font-size: 16px;
    }

    tr, th, td {
      display: block;
      padding: 0 10px;
      width: 100%;
      white-space: normal;
    }

    tr {
      border-bottom: 1px solid #eee;
      td:first-child { padding-top: 6px; }
      td:last-child { padding-bottom: 6px; }
      &:last-child { border-bottom: none; }
    }

    tr:nth-child(even) {
      background-color: @gray4;
    }

    td {
      margin-bottom: 6px;

      &:empty { display: none; }
    }

    thead[data-title]:before,
    td[data-title]:before {
      .sans-serif();
      font-size: 16px;
      display: inline-block;
      // width: 70%;
      // margin-right: 10px;
      content: attr(data-title) ":\00A0";
    }
  }
}
