@import "./lib/base";

// Base table styles
table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  font-size: 14px;
  color: @gray1;

  tr.shadedrow {
    background-color: @gray4;
    color: @gray1;
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: @gray4;
  }

  th {
    .sans-serif();
    line-height: 1.2;
    font-size: 16px;
    text-align: left;
    vertical-align: bottom;
  }

  td { vertical-align: top; }
}

// Tablesorter styles
table {

  .header,
  .sorter,
  .sorter * {
    display: inline-block;
  }

  th {
    &.sort-header {
      cursor: pointer;

      .sorter {
        margin-left: 4px;
        font-size: 12px;
        color: @gray3;
        .arrow-down {
          margin-left: -4px;
        }
      }

      &[aria-sort="ascending"] {
        .arrow-up {
          color: @teal2;
        }
      }

      &[aria-sort="descending"] {
        .arrow-down {
          color: @teal2;
        }
      }

    }

  }
}

/*
* larger-than-small-screen styles
* ~ defining some desktop-only styles here to avoid
* ~ writing extra mobile styles to undo them.
*/
@media @screen-mobile-above {
  table {
    th, td {
      padding: 8px 10px;

      // comment these two out if you want to highlight particular rows
      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }

      &.amt { text-align: right; }
    }

    tbody tr:hover{
      background-color: @teal3;
    }

    th {
      border-bottom: 2px solid #eee;
      padding-top: 0;
    }

    td { border-bottom: 1px solid #eee; }
  }
}

/*
* small-screen styles
*/
@media @screen-mobile {
  tbody {
    display: block;
    width: 100%;
  }

  table {
    thead { display: none; }

    tr, th, td {
      display: block;
      padding: 0;
      white-space: normal;
    }

    tr {
      border-bottom: 1px solid #eee;
      padding: 6px 0;

      &:first-child { border-top: 1px solid #eee; }
    }

    td {
      margin-bottom: 6px;

      &:empty { display: none; }
    }

    tr td:first-child {
      .sans-serif();
      color: @gray1;
      font-size: 16px;
      margin-bottom: 6px;

      &:before {
        content: '';
        display: none;
      }
    }

    th[data-title]:before,
    td[data-title]:before {
      content: attr(data-title) ":\00A0";
      display: inline-block;
      margin-right: 10px;
      width: 70%;
    }
  }
}
